main {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 3rem;
}
.editable-text {
	button {
		/* remove button styles. Make it look like text */
		background: none;
		border: none;
		padding: 4px 8px;
		font-size: 1.5rem;
		font-weight: bold;
	}

	input {
		/* make it the same size as the button */
		font-size: 1.5rem;
		font-weight: bold;
		padding: 4px 8px;
		border: none;
	}
}
